table {
	color: #333;
	font-family: "Roboto", sans-serif;
	width: 640px;
	border-collapse: collapse;
	border-spacing: 0;	
}

td, th { border: 1px solid #CCC; height: 30px; }

th {
	
	background: #6785c1;
	font-weight: bold;
}

td {
	background: #b3c2e0;
	text-align: center;
}

body {
	background: #d9e0ef;
}