
{% block content %}

<html>
	<head>
		<title>LMS Administrator</title>
		<link rel="stylesheet" href="static/css/stylesTable.css">
	</head>

	<body>
		<h1> PENDING STUDENTS </h1>
		<table>
			<tr><th>Student Name</th><th>Student Email</th><th>Accept/Decline</th></tr>
			{% for std in pendingStudents %}
			<tr><td>{{std[1] + " " + std[2]}}</td><td>{{std[3]}}</td><td><a href="{{ url_for('authorize', id=std[0])}}">Authorize student</a></td></tr>
			{% endfor %}
		</table>
	</body>
</html>

{% endblock %}