
{% block content %}

<html>
	<head>
		<title>LMS Administrator</title>
		
	</head>

	<body>
		<style>
			body {
				background: #d9e0ef; 
			}
			table {
				color: #333;
				font-family: "Roboto", sans-serif;
				width: 640px;
				border-collapse: colapse;
				border-spacing: 0;
			}
			td, th { border: 1px solid #CCC; height:30px; }
			th {
				background: #6785c1;
				font-weight: bold;
				
			}
			td {
				background: #b3c2e0;
				text-align: center;
			}
		
		</style>
		<h1> PENDING STUDENTS </h1>
		<table>
			<tr><th>Student Name</th><th>Student Email</th><th>Authorize</th><th>Delete</th></tr>
			{% for std in pendingStudents %}
			<tr><td>{{std[1] + " " + std[2]}}</td><td>{{std[3]}}</td><td><a href="{{ url_for('authorize', id=std[0])}}">Authorize student</a></td><td><a href="{{ url_for('delete', id=std[0])}}">Delete Student</a></td></tr>
			{% endfor %}
		</table>
		<br>
		<br>
		<br>
		<br>
		<h1> REGISTERED STUDENTS </h1>
			<table>
				<tr><th>Student Name</th><th>Student Email</th><th>Unauthorize</th></tr>
				{% for std in registeredStudents %}
				<tr><td>{{std[1] + " " + std[2]}}</td><td>{{std[3]}}</td><td><a href="{{ url_for('remove', id=std[0])}}">Unauthorize student</a></td></tr>
				{% endfor %}
			</table>
	</body>
</html>

{% endblock %}