<!doctype <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Content page</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../static/css/content.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet"> 
    
    
</head>

<body >

    <h1 class= "centered">WELCOME TO FIU ONLINE</h1>
    <p class="subtitle fancy"><span>Home of the panthers</span></p>
    
    <div class="container">
            

            <button class="collapsible">Open Lecture 1</button>
            <div class="content">
                    <a target="_blank" href="https://www.youtube.com/watch?v=8Zj7C7MbZ38">Lecture video link</a>
                    <a>Lecture Power Point </a>
                    <a href="http://www.brynmorgen.com/books/samples/Draw-Better-Sample.pdf" download="drawbook">Lecture pdf link</a>
            </div>
        
            <button class="collapsible">Open Lecture 2</button>
                <div class="content">
                    <a target="_blank" href="https://www.youtube.com/watch?v=xpsdxpyYeLg">Lecture video link</a>
                    <a>Lecture Power Point </a>
                    <a href="https://www.sportsmed.org/aossmimis/stop/downloads/Soccer.pdf" download>Lecture pdf link</a>
                </div>
            
            <button class="collapsible">Open Lecture 3</button>
                <div class="content">
                    <a>Lecture video link</a>
                    <a>Lecture Power Point </a>
                    <a>Lecture pdf link</a>
                </div>

    </div>

    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;
        
        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight){
              content.style.maxHeight = null;
            } else {
              content.style.maxHeight = content.scrollHeight + "px";
            } 
          });
        }
    </script>

</body>
</html>

<!-- <div class="container">

            <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn">Lecture 1</button>
                        <div id="myDropdown" class="dropdown-content">
                            <a href="#home">Video</a>
                            <a href="#about">Power Point</a>
                            <a href="#contact">Documents</a>
                        </div>
            </div>


             <div class="dropdown">
                    <button onclick="myFunction()" class="dropbtn">Lecture 1</button>
                        <div id="myDropdown" class="dropdown-content">
                            <a href="#home">Video</a>
                            <a href="#about">Power Point</a>
                            <a href="#contact">Documents</a>
                        </div>
            </div>

    </div>


    


    
    

    
    <script>
            /* When the user clicks on the button, 
            toggle between hiding and showing the dropdown content */
            function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
            }
            
            // Close the dropdown if the user clicks outside of it
            window.onclick = function(event) {
              if (!event.target.matches('.dropbtn')) {
            
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                  var openDropdown = dropdowns[i];
                  if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                  }
                }
              }
            }
            </script>

             -->