<!doctype html>
<html lang="en">

<head>
    <title>LMS Project</title>
    <link rel="stylesheet" href="static/css/styles.css">
    

</head>

<body>
    
    <div class="bg-image"></div>

    <div class="page">
        <div class="container">

          <div class="left">
            <div class="login">LMS Course</div>
            <div class="eula"></div>
            <input class = "facebook-input" type="button" onclick="logIn()" value="Log In">
          </div>


          <div class="right">
            <input class = "facebook-input" type="button" onclick="register()" value="Request course access">
		   <p class="right-p">If you currently don't have an account, Please create one</p>

		               </div>
        </div>
    </div>

      <script src = "../static/js/facebookScripts.js"></script>

</body>

</html>



<!-- 
<script type="text/javascript" src="facebookScripts.js"></script>
    link to js functions
    
    <div class="button-group">

        <input type="button" onclick="makeAccount()" value="Create Facebook account">
        <input type="button" onclick="logIn()" value="Log in with Facebook">
        
        <input type="button" onclick="request()" value="Request course access">

    </div> -->