<!DOCTYPE html>
{% block content %}
<html>
	<head>
		<title>LMS Register</title>
		<link rel="stylesheet" href="static/css/stylesLogin.css">
	</head>

	<body>
		<div class="login-page">
			<div class="form">
			<form method="POST">
				<input type="text" name="fname" placeholder="First Name:"value="{{fname}}" required><br>
				<input type="text" name="lname" placeholder="Last Name:" value="{{lname}}" required><br>
				<input type="text" name="email" placeholder="Email:" value="{{email}}" required>{{eerror}}<br>
				<input type="password" placeholder="Password:" name="password" required>{{perror}}<br>
				<input type="password" placeholder="Confirm Password:" name="confirmPassword" required><br>
				<input type="submit" value="Register">
			</form>
			</div>
		</div>
	</body>
</html>

{% endblock %}